@page
@model EsFinaleMeteo.Pages.RisultatoPreferitiModel
@{
    ViewData["title"] = "Risultato";
}

<form method="get">
    <table class="table text-black" align="center">
        <thead>
            <tr style="font-size: 20px">
                <th>Condizione</th>
                <th>Giorno</th>
                <th>MinT</th>
                <th>MaxT</th>
                <th>MediaT</th>
                <th>%Probabilità</th>
                <th>Alba</th>
                <th>Tramonto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ris)
            {
                <tr>
                    <td>@item.symbolPhrase</td>
                    <td>@item.date</td>
                    <td>@item.minTemp</td>
                    <td>@item.maxTemp</td>
                    <td>@((@item.minTemp + @item.maxTemp)/2)</td>
                    <td>@item.precipProb</td>
                    <td>@item.sunrise</td>
                    <td>@item.sunset</td>
                </tr>
            }
        </tbody>
    </table>
</form>
